.cart-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fefefe;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.cart-title {
  text-align: center;
}

.empty-cart {
  margin-top: 10px;
  text-align: center;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.item-details {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.item-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.item-title {
  margin-bottom: 10px;
}

.item-price {
  color: #888;
  margin-bottom: 10px;
}

.quantity-control {
  display: flex;
  align-items: center;
}

.botoneliminar {
  align-self: flex-end;
}

.cart-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.clear-cart-button {
  margin-right: 20px;
}

.checkout-button {
  background-color: #ff5722;
  color: #fff;
}

.checkout-button:hover {
  background-color: #e64a19;
}
