.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #282c34;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.top-section,
.bottom-section {
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}

.logo {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.logo img {
  height: 75px;
  margin-right: 10px;
}

.company-name {
  color: #61dafb;
  position: absolute;
  top: 20px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.menu {
  display: flex;
}

.menu img {
  height: 35px;
  position: relative;
  margin-right: 45px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.menu img:hover {
  transform: scale(1.1);
}

.nav-links {
  display: flex;
  justify-content: center;
  position: absolute;
  gap: 25px;
  margin-bottom: 20px;
}

.nav-links a {
  color: #61dafb;
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #fff;
}

.search-bar {
  padding: 5px;
  width: 300px;
  border: none;
  position: absolute;
  top: 60px;
  right: 60px;
  border-radius: 4px;
  background-color: #fff;
  transition: box-shadow 0.3s ease-in-out;
}

.search-bar:focus {
  outline: none;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}
