.product-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
  margin-top: 1rem;
}

.product-image {
  flex: 3;
  padding: 20px;
}

.product-image img {
  border: 1px solid #ddd;
  background-color: #fefefe;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 70vh;
  object-fit: scale-down;
  border-radius: 20px;
}

.product-details {
  flex: 5;
  margin: 1rem 30px 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 30px 20px;
  background-color: #fefefe;
  border-radius: 20px;
}

.map-container {
  width: 40%;
  margin-top: 5vh;
  background-color: #f2f2f2;
  border: solid 2px black;
  border-radius: 30px;
  align-self: center;
  justify-self: end;
}

.product-details button {
  margin-top: 1rem;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.product-details button:hover {
  background-color: #0056b3;
}
