.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 40px;
}

.select-category {
  color: black;
  padding: 0;
  width: 100%;
  margin: 10px;
  height: 40px;
}

.title-text {
  color: #282c34;
  font-weight: bold;
}
