.product-detail-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.product-detail-modal img {
  width: 100%;
  height: auto;
}

.product-detail-modal h2 {
  margin-top: 0;
}

.product-detail-modal button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #007BFF;
  cursor: pointer;
}

.product-detail-modal button:hover {
  background-color: #0056b3;
}

  